* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-alex-brush;
}

.w-15 {
    width: 15% !important;
}


//Nav
.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;

    button {
        margin-right: 16px;
    }

    a {
        margin-left: 16px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgba($color: $black, $alpha: 0.7);
}

.navbar-nav a {
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

#navbarNavAltMarkup {
    transition: height 1s ease;
}

@media (min-width: 1016px) and (max-width: 1050px) {
    .navbar-nav a {
        font-size: 0.9em;
    }
}

@media (min-width: 992px) and (max-width: 1015px) {
    .navbar-nav a {
        font-size: 0.8em;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: $white;
        padding-left: 16px;
        padding-right: 16px;
    }

    .navbar-nav a:hover {
        color: $pink !important;
    }
}

//Carousel
.carousel-indicators li {
    background-color: $pink;
}